<%= render "shared/exchange_description" %>
<h3 class="is-size-3 has-text-centered has-text-weight-semibold">Snack Details</h3>
<div class="card">
    <div class="card-content">
    <%= form_with(model: [@exchange, @participation], local: true) do |form| %>
        <div class="columns">
          <div class="column">
            <div class="field">
            <%= form.label :full_name, { :class => "label"} do %>
              Full Name <span class="has-text-danger has-text-weight-light is-size-7">required</span>
            <% end %>
            <div class="control">
            <%= form.text_field :full_name, { :class => "input", :required => true} %>
            </div>
          </div>

          <div class="field">
            <%= form.label :email, { :class => "label"} do %>
              Work email (ex. yourname@teladochealth.com) <span class="has-text-danger has-text-weight-light is-size-7">required</span>
            <% end %>
            <div class="control">
            <%= text_field_tag :email, @user[:email], { :class => "input", :required => true} %>
            </div>
          </div>
          </div>
          <div class="column">
            <div class="field">
              <%= form.label :team, { :class => "label"} do %>
                Team <span class="has-text-danger has-text-weight-light is-size-7">required</span>
              <% end %>
              <div class="control">
              <%= form.text_field :team, { :class => "input", :required => true} %>
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="field">
            <%= form.label :address_1, { :class => "label"} do %>
              Address 1 <span class="has-text-danger has-text-weight-light is-size-7">required</span>
              <% end %>
            <div class="control">
            <%= form.text_field :address_1, { :class => "input", :required => true} %>
            </div>
          </div>
          <div class="field">
            <%= form.label :city, "City", { :class => "label"} do %>
              City <span class="has-text-danger has-text-weight-light is-size-7">required</span>
              <% end %>
            <div class="control">
            <%= form.text_field :city, { :class => "input", :required => true} %>
            </div>
          </div>
          </div>
          <div class="column">
            <div class="field">
            <%= form.label :address_2, "Address 2", { :class => "label"} %>
            <div class="control">
            <%= form.text_field :address_2, { :class => "input"} %>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
              <%= form.label :state, { :class => "label"} do %>
                State <span class="has-text-danger has-text-weight-light is-size-7">required</span>
                <% end %>
              <div class="control">
              <%= form.text_field :state, { :class => "input", :required => true} %>
              </div>
            </div>
            </div>
            <div class="column">
              <div class="field">
              <%= form.label :zipcode, { :class => "label"} do %>
                Zipcode <span class="has-text-danger has-text-weight-light is-size-7">required</span>
                <% end %>
              <div class="control">
              <%= form.text_field :zipcode, { :class => "input", :required => true} %>
              </div>
            </div>
            </div>
          </div>
          </div>
        </div>
        <div class="field">
        <%= form.label :preferences, "Preferences and Dietary ", { :class => "label"} %>
        <div class="control">
        <%= form.text_area :preferences, { :class => "textarea has-fixed-size"} %>
        </div>
        </div>
        <%= form.submit label, { :class => "button is-link is-light"} %>
        <% end %>
        <div class="buttons is-right">
          <% if label === "Update" %>
          <%= button_to "Remove from exchange", {:controller => :participations,
            :action => 'destroy', :id => @participation.id }, { class: "button is-danger is-right", method: :delete} %>
        <% end %>
        </div>

    </div>
</div>