<div class="card">
  <div class="card-content">
    <section class="section">
        <div class="columns">
            <div class="column is-one-fifth">
                <h5 class="title is-5">What is SnackBox?</h5>
            </div>
            <div class="column">
                <p>SnackBox aims to bring employees together with something we all enjoy: snacks. SnackBox is a unidirectional exchange where employees are matched with someone to send a box of delicious local snacks. </p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-fifth">
                <h5 class="title is-5">How do I sign up?</h5>
            </div>
            <div class="column">
                <p>If you are able to join an exchange, you will receive an email with a link to sign up for an exchange.</p>
            </div>
        </div>
    </section>
    </div>
</div>
<h3 class="is-size-3 has-text-centered has-text-weight-semibold">Current Exchanges</h3>
<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>Country</th>
        <th>Department</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <% @exchanges.each do |e| %>
        <tr>
            <td><%= e.name %></td>
            <td><%= e.start_date.to_s(:long) %></td>
            <td><%= e.country %></td>
            <td><%= e.department %></td>
            <td>
            <%= form_with url: "/exchanges/update", method: :get do |form| %>
                <div class="field is-horizontal">
                <%= button_to "Sign Up", new_exchange_participation_path(e), { :method => "get",  :class => "button is-primary is-light"} %>
                  <div class="control">
                  <%= form.text_field :email, { :class => "input", :placeholder => "Enter email to edit preferences"} %>
                  </div>
                  <%= form.submit "Send", { :class => "button is-link is-light"} %>
                </div>
              <% end %>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>