<tr>
  <td
    style="color: #153643; sans-serif; font-size: 16px; line-height: 24px; padding: 20px 0 30px 0;"
  >
    <h4>Matching is done! Time to go shopping for some local snacks!</h4>
    <ul>
      <li>
        Please ship your box by
        <b><%= @exchange.ship_date.strftime("%B %d, %Y") %></b>
      </li>
      <li>
        Make sure you read your snackees details to see if there are any food
        allergies.
      </li>
      <li>
        You can be reimbursed up to $25 USD worth of snacks and the shipping
        costs from Concur.
      </li>
      <li>
        Since SnackBox is all about bringing us together, write a little note to
        brighten their day and let them know who you are and where you are from!
      </li>
    </ul>
  </td>
</tr>
<tr>
  <td style="color: #331f65">
    <h2>Snack Match details:</h2>
    <p><b>Name:</b> <%= @match.full_name %></p>
    <p><b>Email:</b> <%= @match.user.email %></p>
    <p><b>Address</b></p>
    <p><%= @match.address_1 %></p>
    <% if @match.address_2 %>
    <p><%= @match.address_2 %></p>
    <% end %>
    <p><%= @match.city %>, <%= @match.state %> <%= @match.zipcode %></p>
    <p><b>Preferences</b></p>
    <% if @match.preferences.present? %> <%= @match.preferences %> <% else %>
    <p>None</p>
    <% end %>
  </td>
</tr>
<tr>
  <td>
    <br />
    <br />
    <i
      >Be on the look out for YOUR snack box! When you receive your box, make
      sure to give a nice thank you! Here are some ideas:</i
    >
    <br />
    <br />
    <ul>
      <li>Write an email!</li>
      <li>Send a message on Slack!</li>
      <li>Post a photo and thank you message in #general Slack channel</li>
    </ul>
  </td>
</tr>
