<tr>
  <td
    style="
      color: #153643;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 24px;
      padding: 20px 0 30px 0;
    "
  >
    <h2>Woo, you are <i>almost</i> signed up for SnackBox!</h2>
    <br />
    <br />
    <ol>
      <li>
        <b>
          Verify your email by clicking this
          <span><%= link_to("link", @verify_url)%></span>
        </b>
      </li>
      <li>
        <b>Double check your mailing address</b>
        <div style="margin-left: 15px">
          <p><b>Address</b></p>
          <p><%= @participant.address_1 %></p>
          <% if @participant.address_2 %>
          <p><%= @participant.address_2 %></p>
          <% end %>
          <p>
            <%= @participant.city %>, <%= @participant.state %> <%=
            @participant.zipcode %>
          </p>
          <br />
          <p><b>Preferences</b></p>
          <% if @participant.preferences.present? %> <%=
          @participant.preferences %> <% else %>
          <p>None</p>
          <% end %>
        </div>
      </li>
      <li>
        <b>
          If there is any incorrect information, follow this
          <span
            ><%= link_to "link", @edit_url, target: "_blank", rel: "nofollow"
            %></span
          >
          to update!
        </b>
      </li>
    </ol>
    <br />
    <br />
    <h2>I'm signed up, what now?</h2>
    <p>
      Matching will occur on
      <b><%= @participant.exchange.match_date.strftime("%B %d, %Y") %></b> in
      which will receive an email with your snack match's name, email, mailing
      address and dietary preferences.
    </p>
    <p>
      Once you get your match, have fun getting snacks and ship box by <%= @participant.exchange.ship_date.strftime("%B %d, %Y") %>. You can be reimbursed for up to $25 worth of snacks and shipping.
    </p>
  </td>
</tr>
