<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>SnackBox | Teladoc Health</h1>
    <p>
      Please verify your email to join the exchange by clicking this <%= link_to "link", @verify_url, target: "_blank", rel: "nofollow" %>!
    </p>
    <b>Also, make sure your address and preferences are correct. If there is any incorrect information, follow this <%= link_to "link", @edit_url, target: "_blank", rel: "nofollow" %>!</b>
    <p><b>Address</b></p>
    <p><%= @participant.address_1 %></p>
    <% if @participant.address_2 %>
      <p><%= @participant.address_2 %></p>
    <% end %>
    <p><%= @participant.city %>, <%= @participant.state %> <%= @participant.zipcode %></p>
    <p><b>Preferences</b></p>
    <% if @participant.preferences %>
      <%= @participant.preferences %>
    <% else %>
      <p>None</p>
    <% end %>
    <br><br>
    <p>Thanks for signing up for SnackBox and happy snacking!</p>
  </body>
</html>
