<% if @exchange.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exchange.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @exchange.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_with(model: [:admin, @exchange], local: true) do |f| %>
  <div class="field">
      <%= f.label :name, "Exchange Name", { :class => "label"} %>
      <div class="control">
      <%= f.text_field :name, { :class => "input", :required => true} %>
      </div>
    </div>
    <div class="field">
      <%= f.label :name, "Start Date (mm-dd-yyyy)", { :class => "label"} %>
      <div class="control">
        <%= date_select("exchange", "start_date", {order: [:day, :month, :year]}, {class: "select"}) %>
      </div>
    </div>
    <div class="field">
      <%= f.label :end_date, "End Date (mm-dd-yyyy)", { :class => "label"} %>
      <div class="control">
        <%= date_select("exchange", "end_date", {order: [:day, :month, :year]}, {class: "select"}) %>
      </div>
    </div>
    <div class="field">
      <%= f.label :country, "Country", { :class => "label"} %>
      <div class="control">
      <%= f.text_field :country, { :class => "input", :required => true} %>
      </div>
    </div>
    <div class="field">
      <%= f.label :department, "Department", { :class => "label"} %>
      <div class="control">
      <%= f.text_field :department, { :class => "input", :required => true} %>
      </div>
    </div>
    <div class="field">
      <%= f.label :teams, "Teams (separate teams with commas)", { :class => "label"} %>
      <div class="control">
      <%= f.text_field :teams, { :class => "input", :required => true} %>
      </div>
    </div>
    <div class="field">
      <%= f.label :details, "Details", { :class => "label"} %>
      <div class="control">
      <%= f.text_area :details, { :class => "input"} %>
      </div>
    </div>
    <%= f.submit label, { :class => "button is-link is-light"} %>
    <%= button_to "Back", admin_exchanges_path, { :method => "get",  :class => "button is-primary is-light"} %>
  <% end %>
