

<nav class="navbar" role="navigation" aria-label="main navigation">
    <h1 class="is-size-1 center">Admin</h1>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        <%= button_to "New exchange", { :action => "new" }, {:method => :get, :class => "button is-link is-light"} %>
        </div>
      </div>
    </div>
</nav>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Country</th>
      <th>Department</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @exchanges.each do |e| %>
        <tr>
            <td><%= e.name %></td>
            <td><%= e.start_date.to_s(:long) %></td>
            <td><%= e.end_date %></td>
            <td><%= e.country %></td>
            <td><%= e.department %></td>
            <td><%= e.details %></td>
        </tr>
    <% end %>
  </tbody>
</table>