<nav class="navbar" role="navigation" aria-label="main navigation">
  <h1 class="title is-1 center">Admin</h1>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <%= button_to "New exchange", { :action => "new" }, {:method => :get,
        :class => "button is-link"} %>
      </div>
    </div>
  </div>
</nav>

<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Country</th>
      <th>Department</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @exchanges.each do |e| %>
    <tr>
      <td>
        <div class="buttons">
          <%= button_to "Edit", edit_admin_exchange_path(e), { :method => "get",
          :class => "button is-primary m-1"} %> <%= button_to "View",
          admin_exchange_path(e), { :method => "get", :class => "button m-1"} %>
        </div>
      </td>
      <td><%= e.name %></td>
      <td><%= e.start_date.strftime("%B %d, %Y") %></td>
      <td><%= e.end_date.strftime("%B %d, %Y") %></td>
      <td><%= e.country %></td>
      <td><%= e.department %></td>
      <td><%= e.details %></td>
    </tr>
    <% end %>
  </tbody>
</table>
