
<%= form_with url: "/admin/exchanges", model: @exchange, method: :post do |form| %>
  <% if @exchange.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@exchange.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @exchange.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

    <%= render "form_fields", f: form %>
    <%= form.submit "Submit Exchange", { :class => "button is-link is-light"} %>
    <%= button_to "Back", admin_exchanges_path, { :method => "get",  :class => "button is-primary is-light"} %>
  <% end %>

  
