<br>
<br>
<div class="card">
  <div class="card-content">
    <h4 class="title is-4">Exchange Name: <span class="has-text-primary"><%= @exchange.name %></h4>
    <div class=""><span class="has-text-weight-bold">Matching date: </span><%= @exchange.start_date.to_s(:long) %></div>
    <div class=""><span class="has-text-weight-bold">Ship box by: </span><%= @exchange.end_date.to_s(:long) %></div>
    <div class=""><span class="has-text-weight-bold">Country of exchange: </span><%= @exchange.country %></div>
    <div class=""><span class="has-text-weight-bold">Department of exchange: </span><%= @exchange.department %></div>
    <div class=""><span class="has-text-weight-bold">Details: </span><%= @exchange.details %></div>
    <div class="buttons">
    <%= button_to "Edit", edit_admin_exchange_path(@exchange), { :method => "get",  :class => "button is-primary m-1"} %>
    <%= button_to "Participant View", exchange_path(@exchange), { :method => "get",  :class => "button is-info m-1"} %>
    <%= button_to "Back to exchanges", admin_exchanges_path, { :method => "get",  :class => "button is-link m-1"} %>
    
    </div>
    </div>
</div>
<br>
<br>
<div class="card">
  <div class="card-content">
  Only participants with valid checked will be matched. This is so we can verify each participant.
  <p>Have matches already been sent out? <b><%= @exchange.mailed_matches ? "yes" : "no" %></b></p>
  <%= button_to "Match Participants", admin_path(@exchange), { :method => "get",  :class => "button m-1"} %>
  </div>
</div>
<br>
<br>
<div class="card">
  <div class="card-content">
  Send a reminder matching is happening soon!
  <%= button_to "Send reminder", "/admin/exchange/#{@exchange.id}/send_reminder", { :method => "get",  :class => "button m-1"} %>
  </div>
</div>
<br>
<br>
<div class="card">
  <div class="card-content">
  By clicking the button below, you will send a email to all participants who have matches. 
  <%= button_to "Email match info", "/admin/exchange/#{@exchange.id}/deliver_matches", { :method => "get",  :class => "button is-danger is-outlined m-1"} %>
  </div>
</div>
<br>
<br>
<div class="card">
  <div class="card-content">
<h4 class="title is-4">Participants</h4>
<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>valid?</th>
      <th>id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Team</th>
      <th>Preferences</th>
      <th>Match</th>
    </tr>
  </thead>
  <tbody>
    <% @participation.each do |e| %>
      <% match = @participation.find { |p| p.id == e.match_participation_id} %>
        <tr>
            <td>
              <%= render "set_match_ready", participation: e, exchange: @exchange %>
            </td>
            <td><%= e.id %></td>
            <td><%= e.full_name %></td>
            <td><%= e.user.email %></td>
            <td><%= e.address_1 %> <%= e.address_2 %>, <%= e.city %>, <%= e.state %> <%= e.zipcode %> </td>
            <td><%= e.team %></td>
            <td><%= e.preferences %></td>
            <td><%= match && match.user.email %></td>
        </tr>
    <% end %>
  </tbody>
  </table>
</div>
</div>